.app_header.webix_header {
    text-align: center;
}

.app_layout.webix_layout_clean {
    background: #EBEDF0;
}

.app_start .webix_template {
    padding: 12px 12px;
}

.app_menu .webix_icon {
    font-size: 20px;
    vertical-align: middle;
}

.alignment {
    margin-top: 7px;
}

.webix_layout_line.placeForButtonAddActivity {
    background-color: ghostwhite;
}

.userAvatar img {
    width: 100px;
}

.user-avatar {
    width: 40px;
    margin-right: 10px;
}

.user-info {
    display: inline-block;
}

.user-info p {
    margin: 0;
}

.container-for-image {
    display: inline-block;
}
